* {
    transition: all 1s;
    font-family: Calibri;
    font-weight: 100;
}

.form-background {
	background: #1E1E1E;
	border-radius: 50px;
	width: 50vw;
	height: 80vh;
	display: flex;
	position: relative;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -47%);
	flex-direction: column;
	flex-wrap: nowrap;
	align-items: center;
}

.form-name {
    color: rgb(255 255 255 / 80%);
    font-size: 25px;
    text-align: center;
    margin: 25px auto;
}

form {
    width: 80%;
    height: 80%;
}

.user {
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 1vw;
}

.ticket {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 5vw;
    gap: 1vw;
}

legend {
    display: none;
}

.tickets {
    display: flex;
}

.value-name {
    color: rgba(255, 255, 255, 0.5);
    font-size: 23px;
}

fieldset {
    border: none;
}

#id_choices {
    display: flex;
    flex-direction: column;
    gap: 1vw;
}

#id_choices > div {
    background: #1B1B1B;
    border-radius: 25px;
    padding: 1%;
    width: 10vw;
    color: #8D8D8D;
    line-height: 0;
    text-transform: uppercase;
}

#id_choices > div > label {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5vw;
    line-height: 1;
    font-weight: bolder;
    font-size: 0.8vw;
}

input[type='radio']:after {
    width: 0.8vw;
    height: 0.8vw;
    left: -1px;
    top: -1px;
    border-radius: 25px;
    position: relative;
    background-color: #8D8D8D;
    content: '';
    display: inline-block;
    visibility: visible;
}

input[type='radio']:checked:after {
    width: 0.8vw;
    height: 0.8vw;
    left: -1px;
    top: -1px;
    border-radius: 25px;
    position: relative;
    background-color: #EF631F;
    content: '';
    display: inline-block;
    visibility: visible;
}

#submit {
    left: 50%;
    transform: translateX(-50%);
    width: 200px;
    height: 50px;
    border: none;
    border-radius: 25px;
    color: #fff;
    background: #E06018;
    line-height: 0;
    position: absolute;
    bottom: 25px;
    font-size: 20px;
}

.user > div {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 33%;
    height: 2vw;
}

.user > div > label {
    position: absolute;
    color: rgba(255, 255, 255, 0.1);
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    text-align: center;
}

.user > div > input {
    background: #1B1B1B;
    border-radius: 25px;
    border: none;
    width: 100%;
    height: 100%;
}

