.tickets-background {
    width: 80%;
    height: 80%;
    left: 50%;
    top: 60%;
    transform: translate(-50%, -50%);
    position: relative;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: flex-start;
    gap: 1vw;
}

.tickets-header {
	top: 0;
	position: relative;
	width: 100%;
	height: 2vw;
	border-radius: 1.5vw;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	align-items: center;
	justify-content: space-between;
	gap: 10%;
}

.tickets-header-text {
	color: rgba(255, 255, 255, 0.5);
	font-size: 15px;
	border-radius: 1.5vw;
	background: rgba(30, 30, 30, 0.56);
	border-left: solid 1px rgba(255, 255, 255, 0.1);
	border-right: solid 1px rgba(255, 255, 255, 0.1);
	padding: 0.5vw 2vw;
	position: relative;
	width: 20%;
	text-align: center;
}

.ticket {
	width: 100%;
	height: 5vw;
	background: #1E1E1E;
	border-radius: 1.5vw;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	align-items: center;
	justify-content: space-between;
	gap: 10%;
}

.ticket:hover {
    background: #232323;
}

.ticket-text {
	color: rgba(255, 255, 255, 0.5);
	font-size: 15px;
	border-left: solid 1px rgba(255, 255, 255, 0);
	border-right: solid 1px rgba(255, 255, 255, 0);
	border-radius: 1.5vw;
	padding: 0.5vw 2vw;
	position: relative;
	width: 20%;
	text-align: center;
}

.ticket-text:hover {

	border-left: solid 1px rgba(255, 255, 255, 0.1);
	border-right: solid 1px rgba(255, 255, 255, 0.1);
}
